*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background-color: rgb(97, 217, 177);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 1.2rem;
    border: 1px solid  black;
    box-shadow: 0 0 15px lightseagreen;
    background-color: cornflowerblue;
    border-radius: 30px;
}


.box-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

input{
    font-size: 20px;
    padding: 1rem;
    text-align: center;
    border-radius: 40px;
}

button{
    font-size: 20px;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    background-color:rgb(25, 192, 195);
    box-shadow: 0 0 20px #FFFDE7;
}

.para1{
    font-size: 40px;
}

.para2{
       text-align: center;
}

@media screen and (max-width: 426px){

    h1{
        font-size: 25px;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
    }

    .box{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 1rem;
        border: 1px solid  black;
        box-shadow: 0 0 15px lightseagreen;
        background-color: cornflowerblue;
        border-radius: 30px;
    }
    
    
    .box-input{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    
    input{
        font-size: 14px;
        padding: 0.7rem;
        text-align: center;
        border-radius: 35px;
    }
    
    button{
        font-size: 15px;
        padding: 0.8rem;
        border-radius: 20px;
        cursor: pointer;
        background-color:rgb(25, 192, 195);
        box-shadow: 0 0 20px #FFFDE7;
    }
    
    .para1{
        font-size: 25px;
    }
    
    .para2{
           text-align: center;
    }
    
    
}

@media screen and (max-width: 376px){

    h1{
        font-size: 18px;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 190px;
    }

    .box{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 1rem;
        border: 1px solid  black;
        box-shadow: 0 0 15px lightseagreen;
        background-color: cornflowerblue;
        border-radius: 30px;
    }
    
    
    .box-input{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        border: 1px 1px lightcoral;
    }
    
  
    
}

